{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<style>
  .quick-view {
    transition: all .3s ease-in-out;
  }
  .quick-view:hover {
    background: #000;
  }
  .quick-view:hover > span:nth-child(1),
  .quick-view:hover > span:nth-child(2) {
    transform: translateY(-100%)
  }
</style>


<div class="flex flex-col">
  <div class="relative w-full pb-[127%] group overflow-hidden">
    <a href="{{ product_card_product.url | within: collection }}">
      <img
        srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
          {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
          {{ product_card_product.featured_media | img_url: 'master' }} {{ product_card_product.featured_media.width }}w"
        src="{{ product_card_product.featured_media | img_url: '533x' }}"
        alt="{{ product_card_product.featured_media.alt | escape }}"
        class="absolute w-full h-full top-0 left-0 group-hover:scale-110 transition-all duration-700 ease-in-out"
        width="{{ product_card_product.featured_media.width }}"
        height="{{ product_card_product.featured_media.height }}"
        loading="lazy"
      >
      {%- if product_card_product.media[1] != nil -%}
        <img
          srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
            {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
            {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
            {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
            {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
            {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
            {{ product_card_product.media[1] | img_url: 'master' }} {{ product_card_product.media[1].width }}w"
          src="{{ product_card_product.media[1] | img_url: '533x' }}"
          alt="{{ product_card_product.media[1].alt | escape }}"
          loading="lazy"
          class="absolute w-full h-full top-0 left-0 opacity-0 group-hover:opacity-100 group-hover:scale-110 transition-all duration-700 ease-in-out"
          width="{{ product_card_product.media[1].width }}"
          height="{{ product_card_product.media[1].height }}"
          loading="lazy"
        >
        <div class="absolute w-full h-full top-0 left-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out flex justify-center items-center pointer-events-none">
          <div class="flex flex-col space-y-2 -translate-y-4 opacity-50 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 ease-in-out">
            <a href="#quick-view" class="bg-white shadow-sm rounded-full relative overflow-hidden quick-view pointer-events-auto">
              <span class="inline-block transition-all duration-300 ease-in-out px-8 py-2">Quick view</span>
              <span class="flex items-center justify-center absolute w-full h-full top-full left-0 transition-all duration-300 ease-in-out text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              </span>
            </a>
            <a href="#quick-shop" class="bg-white shadow-sm rounded-full relative overflow-hidden quick-view pointer-events-auto">
              <span class="inline-block transition-all duration-300 ease-in-out px-8 py-2">Quick Shop</span>
              <span class="flex items-center justify-center absolute w-full h-full top-full left-0 transition-all duration-300 ease-in-out text-white text-2xl">
                <i class='bx bx-cart-alt' ></i>
              </span>
            </a>
          </div>

          <div class="absolute w-full text-center left-0 bottom-2 text-white text-sm pointer-events-none">
            {%- assign size_length = product_card_product.options_by_name['Size'].values | size -%}
            {%- for size in product_card_product.options_by_name['Size'].values -%}
              {{- size -}}
              {%- if forloop.index != size_length -%}
                {{- ', ' -}}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}

      {%- if product_card_product.price_varies -%}
        <span class="bg-red-500 text-white w-[30px] h-[30px] lg:h-[60px] lg:w-[60px] flex justify-center items-center absolute top-4 right-4 rounded-full font-semibold pointer-events-none">
          -{{ product_card_product.price | times: -100 | divided_by: product_card_product.price_max | plus: 100 | ceil | append: '%' }}
        </span>
      {%- else -%}
        {% assign days = 7 %}
        {% assign period_time = days | times: 24 | times: 60 | times: 60 %}
        {% assign date_now = 'now' | date:'%s' %}
        {% assign date_finished = product_card_product.published_at | date:'%s' | plus: period_time | date:'%s' %}
        {% if date_finished > date_now %}
          <span class="bg-green-600 text-white w-[30px] h-[30px] lg:h-[60px] lg:w-[60px] flex justify-center items-center absolute top-4 right-4 rounded-full text-sm font-semibold pointer-events-none">NEW</span>
        {% endif %}
      {%- endif -%}
    </a>
  </div>

  <h4 class="font-semibold line-clamp-2 mt-4 hover:text-sky-500">
    <a href="{{ product_card_product.url | within: collection }}">{{ product_card_product.title }}</a>
  </h4>
  <div class="text-gray-600 text-sm font-medium">
    {%- if product_card_product.price_varies -%}
      <span class="line-through">${{ product_card_product.price_max }}</span> - 
      <span class="text-rose-500">${{ product_card_product.price_min }}</span>
    {%- else -%}
      <span>${{ product_card_product.price_min }}</span>
    {%- endif -%}
  </div>
</div>
