<style>
  #recover {
    display: none;
  }
  #login {
    display: flex;
  }

  #recover:target {
    display: flex;
  }
  #recover:target ~ #login {
    display: none;
  }
</style>

<div class="w-full h-32 bg-gray-500 relative text-white flex justify-center items-center px-4 text-sm text-center">
  <h1 class="uppercase text-lg tracking-wider font-semibold">My account</h1>
</div>

<div class="w-full max-w-[1200px] mx-auto px-4 mt-12">
  <div class="flex flex-wrap lg:flex-nowrap lg:space-x-6 justify-center">
    <div class="w-full lg:w-1/2 mb-6">
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        <div class="flex flex-wrap">
          <h1 class="w-full uppercase font-semibold">
            {{ 'customer.register.title' | t }}
          </h1>
          {%- if form.errors -%}
            <h2 class="py-2 text-gray-600 text-sm" >{{ 'templates.contact.form.error_heading' | t }}</h2>
            <div class="w-full px-4 text-gray-600 text-sm">
              {%- for field in form.errors -%}
                <p>* {{ form.errors.messages[field] }}</p>
              {%- endfor -%}
            </div>
          {%- endif -%}
          <div class="w-full text-gray-500 text-sm mb-2">
            <label for="RegisterForm-FirstName" class="py-3 block">
              {{ 'customer.register.first_name' | t }}
            </label>
            <input
              type="text"
              class="focus:outline-none border border-gray-300 focus:border-gray-800 px-4 py-2 w-full"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              autocomplete="given-name"
            >
          </div>
          <div class="w-full text-gray-500 text-sm mb-2">
            <label for="RegisterForm-LastName" class="py-3 block">
              {{ 'customer.register.last_name' | t }}
            </label>
            <input
              type="text"
              name="customer[last_name]"
              class="focus:outline-none border border-gray-300 focus:border-gray-800 px-4 py-2 w-full"
              id="RegisterForm-LastName"
              autocomplete="family-name"
            >
          </div>
          <div class="w-full text-gray-500 text-sm mb-2">
            <label for="RegisterForm-email" class="py-3 block">
              {{ 'customer.register.email' | t }}
            </label>
            <input
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              class="focus:outline-none border border-gray-300 focus:border-gray-800 px-4 py-2 w-full"
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
            >
          </div>
          <div class="w-full text-gray-500 text-sm mb-2">
            <label for="RegisterForm-password" class="py-3 block">
              {{ 'customer.register.password' | t }}
            </label>
            <input
              type="password"
              name="customer[password]"
              class="focus:outline-none border border-gray-300 focus:border-gray-800 px-4 py-2 w-full"
              id="RegisterForm-password"
              aria-required="true"
            >
          </div>
          <div class="text-center w-full my-2">
            <button type="submit" class="border-2 border-gray-800 px-6 py-2 text-sm font-semibold hover:border-sky-500 hover:bg-sky-500 hover:text-white rounded-full">
              {{ 'customer.register.submit' | t }}
            </button>
          </div>
        </div>

        <div class="text-center my-2">
          <a href="{{ routes.account_login_url }}" class="text-sm hover:text-sky-500">{{ 'customer.register.already' | t }}</a>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{%- if shop.checkout.guest_login -%}
  <div>
    <hr>
    <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

    {%- form 'guest_login' -%}
      <button>
        {{ 'customer.login_page.guest_continue' | t }}
      </button>
    {%- endform -%}
  </div>
{%- endif -%}

