<div class="w-full max-w-[1200px] mx-auto px-4 mt-16">
  <div class="flex flex-wrap space-x-6 justify-center lg:flex-nowrap">
    <div class="w-full lg:w-1/2">
      <h2 class="uppercase text-2xl font-semibold" style="margin: 0.65em 0 .5em">{{ section.settings.heading | escape }}</h2>

      {%- form 'contact' -%}
        {%- if form.posted_successfully? -%}
          <h3 class="py-4 text-gray-500">{{ 'templates.contact.form.post_success' | t }}</h3>
        {%- endif -%}

        <div class="flex flex-wrap mt-4 -mx-1.5">
          <div class="w-full mb-6 px-1.5">
            <label for="ContactForm-name" class="text-sm py-2">{{ 'templates.contact.form.name' | t }}*</label> <br>
            <input
              type="text"
              name="contact[name]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="ContactForm-name"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            >
          </div>

          <div class="w-full mb-6 px-1.5">
            <label for="ContactForm-email" class="text-sm py-2">{{ 'templates.contact.form.email' | t }}*</label> <br>
            <input
              type="email"
              name="contact[email]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="ContactForm-email"
              autocorrect="off"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            >
            {%- if form.errors contains 'email' -%}
              <p class="text-sm py-2">
                <i class='bx bxs-error-circle text-red-500'></i>
                {{ 'templates.contact.form.email' | t }} {{ form.errors.messages['email'] }}.
              </p>
            {%- endif -%}
          </div>
          
          <div class="w-full mb-6 px-1.5">
            <label for="CommentForm-body" class="text-sm py-2">{{ 'templates.contact.form.message' | t }}*</label> <br>
            <textarea
              rows="8"
              type="text"
              name="contact[body]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="CommentForm-body"
            >{{ form.body }}</textarea>
          </div>

          <div class="w-full mb-6 px-1.5">
            <input type="submit" class="w-full border-2 border-gray-800 rounded-full bg-white font-semibold px-6 py-2 hover:text-white hover:border-sky-500 hover:bg-sky-500 cursor-pointer" value="{{ 'templates.contact.form.send' | t }}">
          </div>
        </div>
      {%- endform -%}
    </div>

    <div class="{% if section.settings.content == blank %} hidden {% endif %} w-full lg:w-1/2">
      <div class="content">{{ section.settings.content }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "content",
      "label": "HTML",
      "default": "<div class='contact-content col-12 col-md-6'><h3 class='mb__20'>CONTACT INFORMATION</h3><p>We love to hear from you on our customer service, merchandise, website or any topics you want to share with us. Your comments and suggestions will be appreciated. Please complete the form below.</p><p><i class='bx bx-home' ></i> 184 Main Rd E, St Albans Victoria 3021, Australia</p><p><i class='bx bx-phone-call' ></i> 1800-123-222 / 1900-1570-230</p><p><i class='bx bx-envelope' ></i> contact@company.com</p><p><i class='bx bx-time' ></i> Everyday 9:00-17:00</p></div>"
    }
  ]
}
{% endschema %}
