{%- liquid
  if section.settings.blog.articles_count > section.settings.blogs_to_show
    assign more_in_blog = true
  endif

-%}

<div class="w-full max-w-[1200px] mx-auto px-4 mt-16">
  {%- if section.settings.title != blank -%}
    <div class="mt-[30px] text-center">
      <h3 class="section-title flex items-center justify-center text-2xl font-semibold mx-auto">
        <span class="flex-none mx-4 uppercase">{{ section.settings.title }}</span>
      </h3>
      <p class="text-gray-600 italic">{{ section.settings.sub_title }}</p>
    </div>
  {%- endif -%}
  
  <div class="flex flex-wrap justify-center mt-6 mx-[-5px] lg:-mx-3.75">
    {%- for article in section.settings.blog.articles limit: section.settings.blogs_to_show -%}
      <div class="w-1/2 md:w-1/3 px-[5px] lg:px-3.75 mb-8">
        <div class="relative w-full pb-[75%] bg-gray-100">
          <a href="" class="absolute w-full h-full top-0 left-0">
            <img src="{{ article.image.src | img_url: '320x' }}" alt="" class="w-full h-full object-cover transition-all duration-700 ease-in-out group-hover:scale-110">
          </a>
        </div>
        <div class="">
          <h3 class="font-medium">{{ article.title }}</h3>
          <span class="text-gray-600 text-sm">By {{ article.user.first_name }} on {{ article.created_at | date: "%a, %b %d, %y" }}</span>

          <div class="text-sm line-clamp-3 mt-2">{{ article.excerpt_or_content }}</div>
        </div>
      </div>
    {%- else -%}
      <p class="text-center">No product in collection</p>
    {%- endfor -%}
  </div>

  {%- if section.settings.show_view_all -%}
    <button class="block mx-auto px-8 py-2 rounded-full border-2 border-gray-800 text-gray-800 bg-white hover:bg-sky-500 hover:border-sky-500 hover:text-white">{{ section.settings.show_view_all_text }}</button>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Bộ sựu tập nổi bật"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Featured collection",
      "label": "Sub title"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Bai viet"
    },
    {
      "type": "range",
      "id": "blogs_to_show",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Số lượng bai viet hiện thị"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "Hiện thị show more"
    },
    {
      "type": "text",
      "id": "show_view_all_text",
      "default": "Load more",
      "label": "Text hiện thị show more"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "slider on mobile"
    }
  ]
}
{% endschema %}
