<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }
</style>

{%- if section.settings.show_top_header == true -%}
  <div class="relative flex flex-col lg:flex-row text-gray-400 text-xs bg-gray-100 px-4 py-3 z-[1] hidden-when-scroll">
    <div class="flex-1 flex flex-wrap justify-center lg:justify-start items-center whitespace-nowrap truncate">
      {%- if section.settings.phone != blank -%}
        <span class="inline-flex text-xl mr-1">
          <i class='bx bx-phone' ></i>
        </span>
        {{- section.settings.phone -}}
      {%- endif -%}
      {%- if section.settings.email != blank -%}
        <span class="inline-flex text-xl ml-4 mr-1">
          <i class='bx bx-envelope' ></i>
        </span>
        {{- section.settings.email -}}
      {%- endif -%}
    </div>

    <div class="flex-1 text-center text-sm">
      Summer sale discount off<span class="text-rose-600"> 50%</span>! <span class="text-gray-800">Shop Now</span>
    </div>

    <div class="flex-1 flex justify-center lg:justify-end space-x-4">
      <div class="flex items-center relative group ">
        <p class="pr-1.5 cursor-pointer">English</p>
        <i class='bx bx-chevron-down cursor-pointer'></i>

        <ul class="absolute transition-all duration-150 ease-in-out invisible opacity-0 translate-y-4 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 top-full right-0 w-max bg-gray-100 shadow-md p-4">
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">English</a></li>
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">العربية</a></li>
        </ul>
      </div>

      <div class="flex items-center relative group ">
        <p class="pr-1.5 cursor-pointer">USD</p>
        <i class='bx bx-chevron-down cursor-pointer'></i>

        <ul class="absolute transition-all duration-150 ease-in-out invisible opacity-0 translate-y-4 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 top-full right-0 w-max bg-gray-100 shadow-md p-4">
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">AUD</a></li>
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">CAD</a></li>
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">AUD</a></li>
          <li class="hover:text-blue-500 pr-4 py-1"><a href="#">CAD</a></li>
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}

<{%- if section.settings.sticky == true -%}sticky-header{% else %}div{% endif %} class="relative flex lg:space-x-4 lg:justify-between px-4 items-center bg-white">
  <div class="flex-1 lg:hidden">
    <span class="flex text-3xl">
      <i class='bx bx-menu' ></i>
    </span>
  </div>

  <a href="/" class="flex-none justify-center lg:justify-start lg:flex-none py-4">
    {%- if section.settings.logo != blank -%}
      <img src="{{ section.settings.logo | img_url: '200x200' }}" width="{{ section.settings.widthLogo }}" height="50" class="h-auto mx-auto" />
    {%- else -%}
      <div class="text-gray-600 text-lg md:text-xl lg:text-2xl font-semibold">
        {{- page_title -}}
      </div>
    {%- endif -%}
  </a>

  <ul class="hidden lg:flex bg-white">
    {%- for link in section.settings.menu.links -%}
      {%- if link.links != blank -%}
        {%- assign is_grandchild_link  = false -%}
        {%- assign childLink_size = link.links | size -%}
        {%- for childLink in link.links -%}
          {%- if childLink.links != blank -%}
            {%- assign is_grandchild_link  = true -%}
            {% break %}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- assign childLink_size  = 0 -%}
      {%- endif -%} 

      {%- assign indexLinkMenuString = forloop.index | append: '' -%}
      {%- assign index_block_in_link = -1 -%}
      {%- for block in section.blocks -%}
        {%- if block.settings.link_position == indexLinkMenuString -%}
          {%- assign index_block_in_link = forloop.index0 -%}
        {%- endif -%}
      {%- endfor -%}

       <li class="{% if index_block_in_link == -1 or is_grandchild_link != true and childLink_size > 2 %} relative {% endif %} group text-gray-600 text-sm">
        <div class="relative text-base">
          <a href="{{ link.url }}" class="block px-3 py-6 text-gray-800 hover:text-blue-500">
            {{ link.title }}
            {%- if forloop.index == 2 -%}
              <span class="badge badge-new">New</span>
            {%- elsif  forloop.index == 4  -%}
              <span class="badge badge-sale">Sale</span>
            {%- endif -%}
          </a>
        </div>
  
        {%- if link.links != blank or index_block_in_link >= 0 -%}
          {%- if is_grandchild_link == true -%}
            <div class="absolute max-w-[100vw] max-h-[70vh] top-full left-1/2 -translate-x-1/2 translate-y-4 opacity-0 invisible group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 ease-in-out shadow-dropmenu overflow-y-auto bg-white pointer-events-none group-hover:pointer-events-auto">
              <div class="{% if childLink_size >= 4 %} min-w-[1200px] {% elsif childLink_size > 2 %} min-w-[900px] {% elsif childLink_size > 1 %} min-w-[600px] {% endif %} w-max p-6 flex space-x-4">
                <div class="flex-grow flex justify-center space-x-6">
                  {%- for childLink in link.links -%}
                    <div class="flex-1 min-w-min">
                      <a href="{{ childLink.url }}" class="block w-full mx-2 py-2 hover:text-blue-500 uppercase font-semibold border-b border-gray-200 whitespace-nowrap">{{ childLink.title }}</a>
                      {%- if childLink.links != blank -%}
                        <ul class="flex flex-col min-w-min">
                          {%- for grandchild_link in childLink.links -%}
                            <a href="{{ grandchild_link.url }}" class="px-2 pt-4 hover:text-blue-500 min-w-min flex-none">{{ grandchild_link.title }}</a>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  {%- endfor -%}
                </div>
          {%- else -%}
            <div class="absolute max-w-[100vw] max-h-[70vh] top-full {% if index_block_in_link >= 0 %} left-1/2 -translate-x-1/2 {% else %} -left-4 {% endif %} translate-y-4 opacity-0 invisible group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 ease-in-out shadow-dropmenu overflow-y-auto bg-white pointer-events-none group-hover:pointer-events-auto">
              <div class="min-w-[260px] w-max {% if index_block_in_link >= 0 %} p-6 {% else %} px-4 py-3 {% endif %} flex space-x-4">
                <div class="flex-grow flex flex-col">
                  {%- if index_block_in_link >= 0 -%}
                    {%- for childLink in link.links -%}
                      <a href="{{ childLink.url }}" class="flex-none block w-full mx-2 py-2 hover:text-blue-500 uppercase font-semibold border-b border-gray-200">{{ childLink.title }}</a>
                    {%- endfor -%}
                  {%- else -%}
                    {%- for childLink in link.links -%}
                      <a href="{{ childLink.url }}" class="flex-none py-2 pl-2 pr-12 hover:text-blue-500">{{ childLink.title }}</a>
                    {%- endfor -%}
                  {%- endif -%}
                </div>
          {%- endif -%}
          
        {%- endif -%}

          {% if index_block_in_link >= 0 %}
            <div class="flex-none">
              {%- if section.blocks[index_block_in_link].settings.type_show == 'image' -%}
                image
              {%- elsif section.blocks[index_block_in_link].settings.type_show == 'list_product' -%}
                {%- assign arrayLink = section.blocks[index_block_in_link].settings.link_1 | split: '/' -%}
                {%- assign collection = collections[arrayLink.last] -%}
                <div id="swiperHeader" class="w-[1000px] relative overflow-hidden">
                  <div class="swiper-wrapper">
                    {%- for product in collection.products limit: section.blocks[index_block_in_link].settings.product_number -%}
                      <div class="swiper-slide max-w-[25%]">
                        {% render 'product-card',
                          product_card_product: product,
                          collection: section.settings.collection
                        %}
                      </div>
                    {%- endfor -%}
                  </div>
                  <div class="swiper-button-next text-3xl !left-auto !right-4 !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
                    <i class='bx bx-chevron-right' ></i>
                  </div>
                  <div class="swiper-button-prev text-3xl !left-4 !right-auto !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
                    <i class='bx bx-chevron-left' ></i>
                  </div>
                </div>
              {%- elsif section.blocks[index_block_in_link].settings.type_show == 'collection' -%}
                colection
              {%- endif -%}
            </div>
          {% endif %}

        {%- if link.links != blank and index_block_in_link >= 0 -%}
            </div>
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}

    {%- assign lengthLinkList = section.settings.menu.links | size -%}
    {%- if lengthLinkList == 0 -%}
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Shop
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Collections
            <span class="badge badge-new">New</span>
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Product
            <span class="badge badge-sale">Sale</span>
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Contact
          </a>
        </div>
      </li>
    {%- endif -%}
  </ul>

  <div class="flex-1 justify-end lg:flex-none flex">
    <a href="/search" class="flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-search' ></i>
    </a>
    <a href="/account/login" class="hidden md:flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-user' ></i>
    </a>
    <a href="/search/?view=wish" class="relative hidden md:flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-heart' ></i>
      <span class="badge badge-black">0</span>
    </a>
    <a href="/cart" class="relative flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-cart-alt' ></i>
      <span class="badge badge-black">0</span>
    </a>
  </div>
</{%- if section.settings.sticky == true -%}sticky-header{% else %}div{% endif %}>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="module">
  import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('#swiperHeader', {
    loop: true,
    slidesPerView: 4,
    spaceBetween: 24,
    autoHeight: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_top_header",
        "label": "Show top header",
        "default": true
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Your phone store",
        "default": "+84 344633237",
        "placeholder": "ex: +84 344633237"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email store",
        "default": "viet.hung.2898@gmail.com",
        "placeholder": "ex: viet.hung.2898@gmail.com"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
      {
        "type": "range",
        "id": "widthLogo",
        "min": 50,
        "max": 250,
        "step": 10,
        "label": "Width",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "menu",
        "default": "main-menu",
        "info": "info"
      },
      {
        "type": "checkbox",
        "id": "sticky",
        "label": "Header sticky",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "menu_mega",
        "name": "Menu mega",
        "settings": [
          {
            "type": "select",
            "id": "link_position",
            "label": "Link position in main menu",
            "options": [
              {
              "value": "0",
              "label": "Item 0"
              },
              {
              "value": "1",
              "label": "Item 1"
              },
              {
              "value": "2",
              "label": "Item 2"
              },
              {
              "value": "3",
              "label": "Item 3"
              },
              {
              "value": "4",
              "label": "Item 4"
              },
              {
              "value": "5",
              "label": "Item 5"
              },
              {
              "value": "6",
              "label": "Item 6"
              },
              {
              "value": "7",
              "label": "Item 7"
              },
              {
              "value": "8",
              "label": "Item 8"
              },
              {
              "value": "9",
              "label": "Item 9"
              },
              {
              "value": "10",
              "label": "Item 10"
              }
            ],
            "default": "0"
          },
          {
            "type": "select",
            "id": "type_show",
            "label": "Type show",
            "options": [
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "list_product",
                "label": "List product"
              },
              {
                "value": "collection",
                "label": "Collection"
              }
            ],
            "default": "image",
            "info": "list product need min 4 product, chose in link"
          },
          {
            "type": "range",
            "id": "product_number",
            "min": 4,
            "max": 12,
            "step": 1,
            "label": "Product number",
            "default": 4,
            "info": "product number only can use in product list mode"
          },
          {
            "type": "header",
            "content": "Item 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading_1",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "text",
            "id": "heading_sub_1",
            "label": "Sub Heading",
            "default": "Example sub heading"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link",
            "info": "if use list product mode then chose collection in here"
          },
          {
            "type": "header",
            "content": "Item 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading_2",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "text",
            "id": "heading_sub_2",
            "label": "Sub Heading",
            "default": "Example sub heading"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Item 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading_3",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "text",
            "id": "heading_sub_3",
            "label": "Sub Heading",
            "default": "Example sub heading"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Item 4"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading_4",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "text",
            "id": "heading_sub_4",
            "label": "Sub Heading",
            "default": "Example sub heading"
          },
          {
            "type": "url",
            "id": "link_4",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}

