{%- assign firstChildLink = true -%}

<div class="flex space-x-4 justify-between px-6 items-center">
  <div class="flex-none">
    {%- if section.settings.logo != blank -%}
      <img src="{{ section.settings.logo | img_url: '200x200' }}" width="{{ section.settings.widthLogo }}" height="50" class="h-auto" />
    {%- endif -%}
  </div>

  <ul class="relative flex bg-white">
    {%- for link in section.settings.menu.links -%}
       <li class="{% if firstChildLink == false or link.links == blank %} relative {% endif %} group">
        <div class="relative">
          <a href="{{ link.url }}" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            {{ link.title }}
            {%- if forloop.index == 2 -%}
              <span class="badge badge-new">New</span>
            {%- elsif  forloop.index == 4  -%}
              <span class="badge badge-sale">Sale</span>
            {%- endif -%}
          </a>
        </div>
  
        {%- if link.links != blank -%}
          {%- if firstChildLink == true -%}
            {%- assign firstChildLink = false -%}
          {%- endif -%}
          <div class="absolute w-full max-w-[1000px] h-max max-h-[70vh] top-full left-1/2 -translate-x-1/2 flex space-x-4 invisible group-hover:visible p-6 shadow-md overflow-y-auto">
            {%- for childLink in link.links -%}
              <div class="w-1/4 relative img-loading">
                <img src="{{ collections[childLink.title].image | img_url: '2048x' }}" alt="" class="w-full h-auto">
                <a href="{{ childLink.url }}" class="absolute px-4 py-2 bg-white border bottom-4 left-1/2 -translate-x-1/2">{{ childLink.title }}</a>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>

  <div class="flex-none"></div>
</div>

<script>
  var c = [
    {%- for item in section.settings.menu.links -%}
      {{ item.title | json }} {{ "," }}
    {%- endfor -%}
  ]

  console.log(c)
</script>

{% schema %}
  {
    "name": "Setting sold out",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
      {
        "type": "range",
        "id": "widthLogo",
        "min": 50,
        "max": 250,
        "step": 10,
        "label": "Width",
        "default": 80
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "menu",
        "info": "info"
      }
    ]
  }
{% endschema %}

