{%- if section.settings.show_top_header == true -%}
  <div class="relative flex flex-col lg:flex-row text-gray-400 text-xs bg-gray-100 px-4 py-3 z-[1] hidden-when-scroll">
    <div class="flex-1 flex flex-wrap justify-center lg:justify-start items-center whitespace-nowrap truncate">
      {%- if section.settings.phone != blank -%}
        <span class="inline-flex text-xl mr-1">
          <i class='bx bx-phone' ></i>
        </span>
        {{- section.settings.phone -}}
      {%- endif -%}
      {%- if section.settings.email != blank -%}
        <span class="inline-flex text-xl ml-4 mr-1">
          <i class='bx bx-envelope' ></i>
        </span>
        {{- section.settings.email -}}
      {%- endif -%}
    </div>

    <div class="flex-1 text-center text-sm">
      Summer sale discount off<span class="text-rose-600"> 50%</span>! <span class="text-gray-800">Shop Now</span>
    </div>

    <div class="flex-1 flex justify-center lg:justify-end space-x-4">
      <div class="flex items-center relative group ">
        <p class="pr-1.5 cursor-pointer">English</p>
        <i class='bx bx-chevron-down cursor-pointer'></i>

        <ul class="absolute transition-all duration-150 ease-in-out invisible opacity-0 translate-y-4 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 top-full right-0 w-max bg-gray-100 shadow-md p-4">
          <li class="hover:text-blue-500 pr-4"><a href="">English</a></li>
          <li class="hover:text-blue-500 pr-4"><a href="">العربية</a></li>
        </ul>
      </div>

      <div class="flex items-center relative group ">
        <p class="pr-1.5 cursor-pointer">USD</p>
        <i class='bx bx-chevron-down cursor-pointer'></i>

        <ul class="absolute transition-all duration-150 ease-in-out invisible opacity-0 translate-y-4 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 top-full right-0 w-max bg-gray-100 shadow-md p-4">
          <li class="hover:text-blue-500 pr-4"><a href="">AUD</a></li>
          <li class="hover:text-blue-500 pr-4"><a href="">CAD</a></li>
          <li class="hover:text-blue-500 pr-4"><a href="">AUD</a></li>
          <li class="hover:text-blue-500 pr-4"><a href="">CAD</a></li>
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}

<{%- if section.settings.sticky == true -%}sticky-header{% else %}div{% endif %} class="relative flex lg:space-x-4 lg:justify-between px-4 items-center bg-white">
  <div class="flex-1 lg:hidden">
    <span class="flex text-3xl">
      <i class='bx bx-menu' ></i>
    </span>
  </div>

  <a href="/" class="flex-none justify-center lg:justify-start lg:flex-none py-4">
    {%- if section.settings.logo != blank -%}
      <img src="{{ section.settings.logo | img_url: '200x200' }}" width="{{ section.settings.widthLogo }}" height="50" class="h-auto mx-auto" />
    {%- else -%}
      <div class="text-gray-600 text-lg md:text-xl lg:text-2xl font-semibold">
        {{- page_title -}}
      </div>
    {%- endif -%}
  </a>

  <ul class="hidden lg:flex bg-white">
    {%- for link in section.settings.menu.links -%}
       <li class="relative group">
        <div class="relative">
          <a href="{{ link.url }}" class="block px-3 py-6 text-gray-800 hover:text-blue-500">
            {{ link.title }}
            {%- if forloop.index == 2 -%}
              <span class="badge badge-new">New</span>
            {%- elsif  forloop.index == 4  -%}
              <span class="badge badge-sale">Sale</span>
            {%- endif -%}
          </a>
        </div>
  
        {%- if link.links != blank -%}
          <div class="absolute max-w-[100vw] top-full left-1/2 -translate-x-1/2 translate-y-4 flex flex-col opacity-0 invisible group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 ease-in-out p-6 shadow-dropmenu overflow-y-auto bg-white">
            {%- for childLink in link.links -%}
              <a href="{{ childLink.url }}" class="py-2 pl-2 pr-12 hover:text-blue-500">{{ childLink.title }}</a>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}

    {%- assign lengthLinkList = section.settings.menu.links | size -%}
    {%- if lengthLinkList == 0 -%}
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Shop
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Collections
            <span class="badge badge-new">New</span>
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Product
            <span class="badge badge-sale">Sale</span>
          </a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <a href="#" class="block px-3 py-6 text-gray-800 hover:text-blue-500 ">
            Contact
          </a>
        </div>
      </li>
    {%- endif -%}
  </ul>

  <div class="flex-1 justify-end lg:flex-none flex">
    <a href="#" class="flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-search' ></i>
    </a>
    <a href="#" class="hidden md:flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-user' ></i>
    </a>
    <a href="#" class="relative hidden md:flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-heart' ></i>
      <span class="badge badge-black">0</span>
    </a>
    <a href="#" class="relative flex text-2xl hover:text-blue-500 px-2">
      <i class='bx bx-cart-alt' ></i>
      <span class="badge badge-black">0</span>
    </a>
  </div>
</{%- if section.settings.sticky == true -%}sticky-header{% else %}div{% endif %}>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}



{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_top_header",
        "label": "Show top header",
        "default": true
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Your phone store",
        "default": "+84 344633237",
        "placeholder": "ex: +84 344633237"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email store",
        "default": "viet.hung.2898@gmail.com",
        "placeholder": "ex: viet.hung.2898@gmail.com"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
      {
        "type": "range",
        "id": "widthLogo",
        "min": 50,
        "max": 250,
        "step": 10,
        "label": "Width",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "menu",
        "default": "main-menu",
        "info": "info"
      },
      {
        "type": "checkbox",
        "id": "sticky",
        "label": "Header sticky",
        "default": true
      }
    ]
  }
{% endschema %}

