{% stylesheet %}
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #262626 !important;
  }

  .swiper-slide .img-ani {
    transform: scale(1.2);
  }
  .swiper-slide.swiper-slide-active .img-ani {
    transform: scale(1);
  }

  .swiper-slide .caption-left {
    transform: translateX(-2rem);
    opacity: 0;
  }

  .swiper-slide .caption-right {
    transform: translateX(2rem);
    opacity: 0;
    text-align: right;
    margin-left: auto;
  }
  .swiper-slide .caption-right button {
    margin-left: auto;
  }

  .swiper-slide.swiper-slide-active .caption-left,
  .swiper-slide.swiper-slide-active .caption-right {
    transform: translateX(0);
    opacity: 1;
  }
{% endstylesheet %}

<div id="swiperBanner" class="swiper w-full h-[250px] md:h-[500px] lg:h-[700px]">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
      <div class="swiper-slide relative">
        <div class="absolute w-full h-full top-0 left-0 bg-indigo-50 overflow-hidden">
          {%- if block.settings.slide_image != blank -%}
            <img
              srcset="{%- if block.settings.slide_image.width >= 375 -%}{{ block.settings.slide_image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 750 -%}{{ block.settings.slide_image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 1100 -%}{{ block.settings.slide_image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 1500 -%}{{ block.settings.slide_image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 1780 -%}{{ block.settings.slide_image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 2000 -%}{{ block.settings.slide_image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 3000 -%}{{ block.settings.slide_image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.slide_image.width >= 3840 -%}{{ block.settings.slide_image | img_url: '3840x' }} 3840w,{%- endif -%}
                {{ block.settings.slide_image | img_url: 'master' }} {{ block.settings.slide_image.width }}w"
              src="{{ block.settings.slide_image | img_url: '1500x' }}"
              loading="lazy"
              alt="{{ block.settings.slide_image.alt | escape }}"
              width="{{ block.settings.slide_image.width }}"
              height="{{ block.settings.slide_image.width | divided_by: block.settings.slide_image.aspect_ratio }}"
              class="img-ani w-full h-full object-cover transition-all duration-700 ease-in-out"
            >
          {%- endif -%}
        </div>

        <div class="relative flex items-center w-full h-full max-w-[1200px] mx-auto px-4">
          <div class="py-3 {% if block.settings.caption_left == true %} caption-left {% else %} caption-right {% endif %} transition-all duration-1000 delay-300 ease-in-out">
            {%- if block.settings.title != blank -%}
              <h4 class="uppercase text-sm md:text-base lg:text-lg font-medium tracking-wide">{{ block.settings.title }}</h4>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              <h3 class="text-3xl md:text-4xl lg:text-[55px] leading-none font-bold tracking-wide py-2">{{ block.settings.text }}</h3>
            {%- endif -%}

            <{%- if block.settings.url == blank -%} button {%- else -%} a href="{{- block.settings.url | url_escape -}}"{% endif %} class="block lg:mt-3 px-8 py-2 bg-gray-800 text-white font-semibold">
              {%- if block.settings.button -%}
                {{- block.settings.button -}}
              {%- endif -%}
            </{%- if block.settings.url == blank -%} button {%- else -%} a{%- endif -%}>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>

<script type="module">
  import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('#swiperBanner', {
    loop: true,

    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>

{% schema %}
  {
    "name": "Image banner",
    "settings": [
    
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "id": "slide_image",
            "type": "image_picker",
            "label": "Slide image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SUMMER SALE",
            "placeholder": "ex: SUMMER SALE"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Save up to 70%",
            "placeholder": "ex: SUMMER SALE"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button",
            "default": "Explore Now",
            "placeholder": "ex: Explore Now"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Liên kết"
          },
          {
            "type": "checkbox",
            "id": "caption_left",
            "label": "Đầu đề bên trái",
            "default": true,
            "info": "Nếu muốn đàu đề ở bên phải thì bỏ tích"
          }
        ]
      }
    ]
  }
{% endschema %}
