<div class="w-full h-32 bg-gray-200 relative">
  <img
    src="{{ section.settings.parallax_img | img_url: '1500x' }}"
    alt="{{ section.settings.parallax_img | escape }}"
    class="absolute w-full h-full top-0 left-0 object-cover"
    width="{{ section.settings.parallax_img }}"
    height="{{ section.settings.parallax_img }}"
    loading="lazy"
  >
  <div class="absolute w-full h-full top-0 left-0 bg-black/60 text-white flex flex-col space-y-3 justify-center items-center px-4 text-sm text-center">
    <h1 class="uppercase text-lg tracking-wider font-semibold">{{ page.title }}</h1>
  </div>
</div>

<div class="w-full max-w-[1200px] mx-auto mt-12 px-4">
  <div class="content">
    {% include 'shortcode' load: page.content %}
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "parallax_img",
        "label": "Chose image in parallax"
      }
    ]
  }
{% endschema %}

