<div class="relative w-full h-36">
  <img src="{{ collections.first.image | img_url: '1500x' }}" alt="" class="absolute w-full h-full top-0 left-0 object-cover">

  <div class="absolute w-full h-full top-0 left-0 bg-black/50 flex justify-center items-center">
    <div class="inline-block text-white text-center">
      <h1 class="text-2xl font-semibold tracking-wide">{{ section.settings.title | escape }}</h1>
    </div>
  </div>
</div>


<div class="w-full max-w-[1200px] mx-auto px-4 mt-10">
  {%- liquid
    case section.settings.sort
      when 'products_high' or 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date' or 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif
  -%}

  <ul class="flex flex-wrap justify-center mx-[-5px] lg:mx-[-15px]">
    {%- for collection in collections -%}
      <li class="w-1/2 md:w-1/3 px-[5px] lg:px-[15px] mb-6">
        <a{% if collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}
          class="block bg-gray-50 w-full h-full relative group overflow-hidden"
        >
          <img
            srcset="{%- if collection.products.first.images[0].width >= 375 -%}{{ collection.products.first.images[0] | img_url: '375x' }} 375w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 750 -%}{{ collection.products.first.images[0] | img_url: '750x' }} 750w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 1100 -%}{{ collection.products.first.images[0] | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 1500 -%}{{ collection.products.first.images[0] | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 1780 -%}{{ collection.products.first.images[0] | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 2000 -%}{{ collection.products.first.images[0] | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 3000 -%}{{ collection.products.first.images[0] | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if collection.products.first.images[0].width >= 3840 -%}{{ collection.products.first.images[0] | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ collection.products.first.images[0] | img_url: 'master' }} {{ collection.products.first.images[0].width }}w"
            src="{{ collection.products.first.images[0] | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ collection.products.first.images[0].alt | escape }}"
            class="w-full h-full object-cover transition-all duration-700 ease-in-out group-hover:scale-110"
          >

          <p class="absolute bottom-6 left-1/2 -translate-x-1/2 px-12 py-2 border bg-white font-medium flex justify-center w-max max-w-[90%] whitespace-nowrap">
            {{ collection.title }}
          </p>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Tiêu đề",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "alphabetical"
        },
        {
          "value": "alphabetical_reversed",
          "label": "alphabetical_reversed"
        },
        {
          "value": "date_reversed",
          "label": "date_reversed"
        },
        {
          "value": "date",
          "label": "date"
        },
        {
          "value": "products_high",
          "label": "products_high"
        },
        {
          "value": "products_low",
          "label": "products_low"
        }
      ],
      "default": "alphabetical",
      "label": "alphabetical"
    }
  ]
}
{% endschema %}
