<script src="{{ 'Drift.min.js' | asset_url }}"></script>

<style>
  .swatch-size {
    color: rgba(113, 113, 122,1);
    border: 1px solid #ccc;
  }
  .swatch-size:hover: {
    color: rgba(39, 39, 42,1)
  }
  .swatch-size.active,
  .swatch-size.active:hover {
    background: #333333;
    color: #fff;
  }

  .swatch-color.active {
    border-color: rgba(39, 39, 42,1)
  }

  .description > li > a.active {
    color: rgba(39, 39, 42,1);
    border-width: 1px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }

  #swiperProduct1 .swiper-slide:not(.swiper-slide-thumb-active) img {
    opacity: .3;
    transform: translateY(0)
  }
  #swiperProduct1 .swiper-slide:not(.swiper-slide-thumb-active):hover img {
    opacity: 1;
    transform: scale(1.05) translateY(-5px);
  }

  #swiperProduct2 .swiper-button-next,
  #swiperProduct2 .swiper-button-prev {
    transform: scale(0.3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
  }

  #swiperProduct2:hover .swiper-button-next,
  #swiperProduct2:hover .swiper-button-prev {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
</style>

<div class="mt-10">
  <div class="w-full max-w-[1200px] mx-auto px-4 flex justify-between">
    <div class="w-full flex items-start space-x-4">
      <div class="flex-1 flex space-x-3">
        <div class="flex-none w-20 relative">
          <div id="swiperProduct1" class="absolute w-full h-full top-0 left-0 overflow-hidden">
            <div class="swiper-wrapper">
              {%- for image in product.images -%}
                <div class="swiper-slide !h-auto overflow-hidden cursor-pointer">
                  <div class="w-full relative pb-[127%] bg-gray-50">
                    <img
                      srcset="{%- if image.width >= 165 -%}{{ image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if image.width >= 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
                        {%- if image.width >= 533 -%}{{ image | img_url: '533x' }} 533w,{%- endif -%}
                        {%- if image.width >= 720 -%}{{ image | img_url: '720x' }} 720w,{%- endif -%}
                        {%- if image.width >= 940 -%}{{ image | img_url: '940x' }} 940w,{%- endif -%}
                        {%- if image.width >= 1066 -%}{{ image | img_url: '1066x' }} 1066w,{%- endif -%}
                        {{ image | img_url: 'master' }} {{ image.width }}w"
                      src="{{ image | img_url: '165x' }}"
                      alt="{{ image.alt | escape }}"
                      class="absolute w-full h-full top-0 left-0 object-cover transition-all ease-in-out duration-500"
                      width="{{ image.width }}"
                      height="{{ image.height }}"
                      loading="lazy"
                    >
                  </div>
                </div>
              {%- endfor -%}
            </div>
            <div class="swiper-button-next text-3xl !bottom-2 !top-auto !left-1/2 !-translate-x-1/2 !w-8 !h-8 !bg-white/80 !text-gray-800 !mt-0">
              <i class='bx bx-chevron-down' ></i>
            </div>
            <div class="swiper-button-prev text-3xl !top-2 !bottom-auto !left-1/2 !-translate-x-1/2 !w-8 !h-8 !bg-white/80 !text-gray-800 !mt-0">
              <i class='bx bx-chevron-up' ></i>
            </div>
          </div>
        </div>
        <div class="flex-grow min-w-0">
          <div class="relative min-w-0 pb-[127%] bg-gray-200">
            <div id="swiperProduct2" class="absolute w-full h-full top-0 left-0 overflow-hidden">
              <div class="swiper-wrapper">
                {%- for image in product.images -%}
                  <div class="swiper-slide">
                    <div class="w-full relative pb-[127%] bg-gray-50">
                      <img
                        srcset="{%- if image.width >= 165 -%}{{ image | img_url: '165x' }} 165w,{%- endif -%}
                          {%- if image.width >= 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
                          {%- if image.width >= 533 -%}{{ image | img_url: '533x' }} 533w,{%- endif -%}
                          {%- if image.width >= 720 -%}{{ image | img_url: '720x' }} 720w,{%- endif -%}
                          {%- if image.width >= 940 -%}{{ image | img_url: '940x' }} 940w,{%- endif -%}
                          {%- if image.width >= 1066 -%}{{ image | img_url: '1066x' }} 1066w,{%- endif -%}
                          {{ image | img_url: 'master' }} {{ image.width }}w"
                        src="{{ image | img_url: '165x' }}"
                        alt="{{ image.alt | escape }}"
                        class="drift-img absolute w-full h-full top-0 left-0 object-cover"
                        width="{{ image.width }}"
                        height="{{ image.height }}"
                        loading="lazy"
                      >
                    </div>
                  </div>
                {%- endfor -%}
              </div>
              <div class="swiper-button-next text-3xl !left-auto !right-4 !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
                <i class='bx bx-chevron-right' ></i>
              </div>
              <div class="swiper-button-prev text-3xl !left-4 !right-auto !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
                <i class='bx bx-chevron-left' ></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-1 drift-pane">
        <h1 class="text-lg font-semibold">{{ product.title }}</h1>
        <div class="flex justify-between items-center mt-3">
          <p class="text-gray-500 text-2xl font-base">
            {%- if product.price_varies -%}
              <span class="line-through">${{ product.price_max }}</span> -
              <span class="text-red-500">${{ product.price_min }}</span>
            {%- else -%}
              <span>${{ product.price_min }}</span>
            {%- endif -%}
          </p>

          <div class="flex items-center text-sm text-yellow-500">
            <i class='bx bxs-star' ></i><i class='bx bxs-star' ></i><i class='bx bxs-star' ></i><i class='bx bxs-star' ></i><i class='bx bxs-star' ></i>
            <span class="text-gray-800">(3 reviews)</span>
          </div>
        </div>

        <p class="text-gray-500 mt-6 text-sm">{{ product.description }}</p>

        {%- if product.options_by_name['Color'] -%}
          <div id="productSelectColor" class="mt-8">
            <h4 class="uppercase font-semibold">
              color: <span class="title">{{ product.options_by_name['Color'].values.first }}</span>
            </h4>

            <div class="flex flex-wrap space-x-2 mt-2">
              {%- for color in product.options_by_name['Color'].values -%}
                <div data-color="{{ color }}" class="swatch-color {%if forloop.index0 == 0 %} active {%endif %} p-0.5 border-2 border-gray-300 rounded-full relative group cursor-pointer">
                  <p class="w-6 h-6 bg-blue-600 rounded-full grid place-items-center"></p>
                  <div class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-2 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-1/2 group-hover:translate-y-0"></div>
                  <span class="absolute {% if forloop.first == true %} -left-0.5 {% elsif forloop.last == true %} -right-0.5 {% else %} left-1/2 -translate-x-1/2 {% endif %} bottom-[calc(100%+.5rem)] bg-gray-800 whitespace-nowrap px-3 py-1 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-1/2 group-hover:translate-y-0">{{ color }}</span>
                </div>
              {%- endfor -%}
              <div class="swatch-color p-0.5 border-2 border-gray-300 rounded-full relative">
                <p class="w-6 h-6 bg-green-600 rounded-full grid place-items-center"></p>
              </div>
              <div class="swatch-color p-0.5 border-2 border-gray-300 rounded-full relative">
                <p class="w-6 h-6 bg-pink-600 rounded-full grid place-items-center"></p>
              </div>
            </div>
          </div>
        {%- endif -%}


        {%- if product.options_by_name['Size'] -%}          
          <div id="productSelectSize" class="mt-8">
            <h4 class="uppercase font-semibold">
              size: <span class="title">{{ product.options_by_name['Size'].values.first }}</span>
            </h4>

            <div class="flex flex-wrap space-x-2 mt-2">
              {%- for size in product.options_by_name['Size'].values -%}
                <button data-size="{{ size }}" class="{%if forloop.index0 == 0 %}active {%endif %}swatch-size min-w-7 h-7 rounded-full grid place-items-center px-2 text-sm">{{ size }}</button>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        <div class="flex flex-wrap space-x-4 mt-10">
          <div class="flex">
            <a href="#" class="w-10 h-10 grid place-items-center border border-r-0 border-gray-800 rounded-l-full hover:text-sky-600 text-lg"><i class='bx bx-minus' ></i></a>
            <input type="text" class="w-10 h-10 focus:outline-none border-t border-b border-gray-800 text-center" value="1">
            <a href="#" class="w-10 h-10 grid place-items-center border border-l-0 border-gray-800 rounded-r-full hover:text-sky-600 text-lg"><i class='bx bx-plus' ></i></a>
          </div>

          <button class="rounded-full px-8 py-2 h-10 bg-sky-500 text-white hover:bg-gray-800">ADD TO CART</button>

          <button class="w-10 h-10 border border-gray-800 grid place-items-center text-xl rounded-full hover:text-sky-600 hover:border-sky-500 group">
            <i class='bx bx-heart' ></i>
            <i class='bx bx-heart absolute invisible animate-ping group-hover:visible' ></i>
          </button>
        </div>

        <div class="flex flex-wrap space-x-4 text-sm mt-10">
          <a href="#" class="font-semibold hover:text-sky-600">Size Guide</a>
          <a href="#" class="font-semibold hover:text-sky-600">Delivery & Return</a>
          <a href="#" class="font-semibold hover:text-sky-600">Ask a Question</a>
        </div>

        <div class="mt-8 text-sm flex flex-col space-y-2">
          {%- if product.selected_or_first_available_variant.sku != blank -%}
            <p class="text-gray-400">SKU: {{ product.selected_or_first_available_variant.sku }}</p>
          {%- endif -%}

          <p>
            <span class="text-gray-400">Categories: </span>
            <a href="/collections/all" class="hover:text-sky-600">All</a>
            {% for collection in product.collections %}
              , <a href="{{ collection.url }}" class="hover:text-sky-600">{{ collection.title }}</a>
            {% endfor %}
          </p>

          <p>
            <span class="text-gray-400">Tags: </span>
            {% for tag in product.tags %}
              <a href="/collections/{%- if collection.title -%} {{- collection.title -}} {%- else -%} all {%- endif -%}/ {{- tag -}}" class="hover:text-sky-600">{{ tag }}</a>
                {% if forloop.last != true -%}
                  ,
                {% endif -%}
            {% endfor %}
          </p>
        </div>

        <div class="mt-8 flex justify-center items-center space-x-4 text-2xl">
          <a href="#" class="inline-block hover:text-blue-600 group">
            <i class='bx bxl-facebook group-hover:-translate-y-1 transition-all duration-300 ease-in-out'></i>
          </a>
          <a href="#" class="inline-block hover:text-sky-600 group">
            <i class='bx bxl-twitter group-hover:-translate-y-1 transition-all duration-300 ease-in-out' ></i>
          </a>
          <a href="#" class="inline-block hover:text-red-600 group">
            <i class='bx bxs-envelope group-hover:-translate-y-1 transition-all duration-300 ease-in-out' ></i>
          </a>
          <a href="#" class="inline-block hover:text-rose-600 group">
            <i class='bx bxl-pinterest-alt group-hover:-translate-y-1 transition-all duration-300 ease-in-out' ></i>
          </a>
          <a href="#" class="inline-block hover:text-blue-600 group">
            <i class='bx bxl-messenger group-hover:-translate-y-1 transition-all duration-300 ease-in-out' ></i>
          </a>
          <a href="#" class="inline-block hover:text-green-600 group">
            <i class='bx bx-plus-medical group-hover:-translate-y-1 transition-all duration-300 ease-in-out'></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 mt-10 py-12 bg-gray-100">
    <ul class="flex w-full justify-center py-4 description space-x-6">
      <li><a href="#" class="active px-6 py-2 border-gray-800 text-gray-400 hover:text-gray-800 rounded-full">Description</a></li>
      <li><a href="#" class="px-6 py-2 border-gray-800 text-gray-500 hover:text-gray-800 rounded-full">Additional Information</a></li>
      <li><a href="#" class="px-6 py-2 border-gray-800 text-gray-500 hover:text-gray-800 rounded-full">Warranty & Shipping</a></li>
      <li><a href="#" class="px-6 py-2 border-gray-800 text-gray-500 hover:text-gray-800 rounded-full">Reviews</a></li>
    </ul>

    <div class="flex flex-wrap lg:space-x-8">
      <div class="w-full lg:flex-1 text-gray-500 text-center text-sm">
        <h6 class="uppercase font-semibold text-gray-800 text-base">FIGHTING FIT</h6>
        <p class="mt-3">Go sporty this summer with this vintage navy and white striped v-neck t-shirt from the Abercrombie & Fitch. Perfect for pairing with denim and white kicks for a stylish sporty vibe. Will fit a UK 8-10, model shown is a UK 8 and 5’5. !!</p>
        <p class="mt-3">Typography is the work of typesetters, compositors, typographers, graphic designers, art directors, manga artists, comic book artists, graffiti artists, and now—anyone who arranges words, letters, numbers, and symbols for publication, display, or distribution—from clerical workers and newsletter writers to anyone self-publishing materials.</p>
        <p class="mt-3">Hit your next boxing workout with a combination it’s never seen before in the Combat Drop Arm Tank, including a freedom-instilling regular fit and dropped armhole to allow you to throw jabs and hooks at the punching bag with ease. A lightweight material keeps you fighting fit, and fresh.</p>
      </div>
      <div class="w-full lg:flex-1">
        <h6 class="uppercase font-semibold text-gray-800 text-base text-center">FIND YOUR SIZE</h6>
        <table class="border-collapse w-full mt-3 text-gray-500">
          <thead>
            <tr>
              <th class="border border-gray-600 p-2">SIZE</th>
              <th class="border border-gray-600 p-2">CHEST</th>
              <th class="border border-gray-600 p-2">WAIST</th>
              <th class="border border-gray-600 p-2">	HIPS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-600 p-2">S</td>
              <td class="border border-gray-600 p-2">39</td>
              <td class="border border-gray-600 p-2">31</td>
              <td class="border border-gray-600 p-2">35</td>
            </tr>
            <tr>
              <td class="border border-gray-600 p-2">M</td>
              <td class="border border-gray-600 p-2">41</td>
              <td class="border border-gray-600 p-2">33</td>
              <td class="border border-gray-600 p-2">37</td>
            </tr>
            <tr>
              <td class="border border-gray-600 p-2">L</td>
              <td class="border border-gray-600 p-2">43</td>
              <td class="border border-gray-600 p-2">35</td>
              <td class="border border-gray-600 p-2">39</td>
            </tr>
            <tr>
              <td class="border border-gray-600 p-2">XL</td>
              <td class="border border-gray-600 p-2">45</td>
              <td class="border border-gray-600 p-2">37</td>
              <td class="border border-gray-600 p-2">41</td>
            </tr>
            <tr>
              <td class="border border-gray-600 p-2">XXL</td>
              <td class="border border-gray-600 p-2">47</td>
              <td class="border border-gray-600 p-2">39</td>
              <td class="border border-gray-600 p-2">43</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="module">

  // CHANGE SIZE //

  let productSelectSize = document.querySelector('#productSelectSize')
  let sizeTitle = null
  let swatchSize = null

  if (productSelectSize) {
    sizeTitle = productSelectSize.querySelector('.title')
    swatchSize = productSelectSize.querySelectorAll('.swatch-size')
  }

  function clickSwatchSize(e) {
    e.preventDefault();

    sizeTitle.innerHTML = e.target.dataset.size

    swatchSize.forEach(v => {
      v.classList.remove('active')
    })

    e.target.classList.add('active')
  }

  if (swatchSize && swatchSize.length > 0 && sizeTitle) {
    swatchSize.forEach(v => {
      v.addEventListener('click', clickSwatchSize, false)
    })
  }

  // SLIDER SWIPER //

  import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('#swiperProduct1', {
    slidesPerView: "auto",
    direction: "vertical",
    spaceBetween: 15,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  const swiper2 = new Swiper('#swiperProduct2', {
    spaceBetween: 15,
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });

  // DRIFT //

  const driftImgs = document.querySelectorAll('.drift-img');
  const pane = document.querySelector('.drift-pane');
  driftImgs.map(img => {
    new Drift(img, {
      paneContainer: pane,
      inlinePane: true
    });
  });

</script>