<style>
  .zoom-ani {
    animation: zoom-ani .4s ease-in-out forwards;
  }

  @keyframes zoom-ani {
    0% {
      opacity: .3;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }
</style>

{%- assign blogSize = blog.articles | size -%}

{%- if blogSize > 0 -%}
  <div id="swiperBlog" class="overflow-hidden">
    <div class="swiper-wrapper">
      {%- for article in blog.articles limit: 6 -%}
        <div class="swiper-slide">
          <div class="w-full relative {% if blogSize == 1 %} pb-[25%] {% elsif blogSize == 2 %} pb-[50%] {% endif %} pb-[75%] bg-gray-50 group overflow-hidden">
            <a href="{{ article.url }}" class="absolute w-full h-full top-0 left-0">
              <img src="{{ article.image.src | img_url: '1000x' }}" alt="" class="w-full h-full object-cover transition-all duration-1000 ease-in-out group-hover:scale-110">
            </a>
            <div class="bg-black/80 p-4 absolute w-full left-0 bottom-0 text-white text-center">
              <div class="text-xs text-gray-300">
                By <span  class="text-white font-semibold">{{ article.user.first_name }}</span>
                {% for tag in article.tags %}
                  {%- if forloop.first -%}
                    in
                  {%- endif -%}

                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="text-white font-semibold"> {{ tag }}</a>

                  {%- if forloop.last == false -%}
                    , 
                  {%- endif -%}
                {% endfor %}
              </div>

              <h2 class="uppercase tracking-wider font-semibold pt-3 pb-2">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>

              <p class="text-gray-300 text-sm">
                {{ article.created_at | date: "%b %d, %y" }}
              </p>
            </div>

            <div class="absolute w-0 h-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-full zoom-ani hidden group-hover:block pointer-events-none"></div>
          </div>
        </div>
      {%- endfor -%}
    </div>

    <div class="swiper-button-next text-3xl !left-auto !right-4 !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
      <i class='bx bx-chevron-right' ></i>
    </div>
    <div class="swiper-button-prev text-3xl !left-4 !right-auto !w-10 !h-10 border-2 rounded-full border-gray-800 !text-gray-800 !mt-0 hover:bg-sky-600 hover:border-sky-600 hover:!text-white">
      <i class='bx bx-chevron-left' ></i>
    </div>
  </div>

  {%- paginate blog.articles by 4 -%}
    <div class="w-full max-w-[1200px] mx-auto px-4 mt-14">
      <div class="flex flex-wrap mx-[-5px] lg:mx-[-15px]">
        {%- for article in blog.articles -%}
          <div class="w-full md:w-1/2 px-[5px] lg:px-[15px] mb-6">
            <div class="w-full relative pb-[75%] bg-gray-50 group overflow-hidden">
              <a href="{{ article.url }}" class="absolute w-full h-full top-0 left-0">
                <img src="{{ article.image.src | img_url: '600x' }}" alt="" class="w-full h-full object-cover transition-all duration-1000 ease-in-out group-hover:scale-110">
              </a>

              <div class="absolute w-0 h-0 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-full zoom-ani hidden group-hover:block pointer-events-none"></div>
            </div>

            <p class="text-gray-500 mt-4 text-sm">
              By <span  class="text-gray-800"> {{ article.user.first_name }} </span> on
              <span  class="text-gray-800"> {{ article.created_at | date: "%b %d, %y" }} </span>
            </p>

            <h2 class="tracking-wider font-semibold pt-3 pb-2 hover:text-sky-600">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>
          </div>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
  {%- endpaginate -%}

{%- else -%}
  <div class="w-full max-w-[1200px] mx-auto px-4 min-h-[50vh] text-center flex flex-col items-center justify-center">
    <p class="border-2 w-full border-amber-600 text-amber-600 flex items-center text-left px-6 py-2">
      <span class="text-xl">
        <i class='bx bx-error' ></i>
      </span>
      <span class="pl-4">No articles were found matching your selection.</span>
    </p>
  </div>
{%- endif -%}

<script type="module">
  // SLIDER SWIPER //

  let blogSize = ({{ blogSize }} >= 3) ? 3 : {{ blogSize }}

  import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'

  const swiper = new Swiper('#swiperBlog', {
    slidesPerView: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      768: {
        slidesPerView: blogSize
      }
    }
  });
</script>