<div class="w-full h-48 bg-gray-200 relative">
  <img
    srcset="{%- if article.image.width >= 165 -%}{{ article.image | img_url: '165x' }} 165w,{%- endif -%}
      {%- if article.image.width >= 360 -%}{{ article.image | img_url: '360x' }} 360w,{%- endif -%}
      {%- if article.image.width >= 533 -%}{{ article.image | img_url: '533x' }} 533w,{%- endif -%}
      {%- if article.image.width >= 720 -%}{{ article.image | img_url: '720x' }} 720w,{%- endif -%}
      {%- if article.image.width >= 940 -%}{{ article.image | img_url: '940x' }} 940w,{%- endif -%}
      {%- if article.image.width >= 1066 -%}{{ article.image | img_url: '1066x' }} 1066w,{%- endif -%}
      {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
    src="{{ article.image | img_url: '1500x' }}"
    alt="{{ article.image.alt | escape }}"
    class="absolute w-full h-full top-0 left-0 object-cover"
    width="{{ article.image.width }}"
    height="{{ article.image.height }}"
    loading="lazy"
  >
  <div class="absolute w-full h-full top-0 left-0 bg-black/60 text-white flex flex-col space-y-3 justify-center items-center px-4 text-sm text-center">
    <h1 class="uppercase text-xl tracking-wider font-semibold">{{ article.title }}</h1>
    <p class="italic">{{ article.created_at | date: "%b %d, %y" }}</p>
    <p>
      {%- if article.tags.size > 0 -%}
        In <a href="{{ blog.url }}" class="hover:text-sky-600">{{ blog.title }}</a>
      {%- endif -%}

      {%- if section.settings.show_comment -%}
        <a href="#comments" class="hover:text-sky-600"> {{ article.comments_count }} comments</a>
      {%- endif -%}
    </p>
  </div>
</div>

<div class="w-full max-w-[1200px] mx-auto px-4 mt-12">
  {{ article.content }}

  <div class="mt-12 w-full flex flex-col sm:flex-row items-center md:justify-between px-4 py-3 border border-gray-300 text-gray-600">
    <p>
      <i class='bx bxs-purchase-tag align-middle' ></i>
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="hover:text-sky-600"> {{ tag }}</a>

        {%- if forloop.last == false -%}
          , 
        {%- endif -%}
      {% endfor %}
    </p>

    {%- if section.settings.show_comment -%}
      <a href="#comments" class="hover:text-sky-600"> {{ article.comments_count }} comments</a>
    {%- endif -%}
  </div>

  {%- if section.settings.share -%}
    <div class="mt-8">
      {% render 'share', bg_color: true, show_title: true %}
    </div>
  {%- endif -%}

  <div class="flex mt-16 justify-center items-center text-4xl">
    {% if blog.previous_article == nil %} 
      {%- assign article_prev = blog.articles.first -%}
    {% else %}
      {%- assign article_prev = blog.previous_article -%}
    {% endif %}

    {% if blog.next_article == nil %} 
      {%- assign article_next = blog.articles.last -%}
    {% else %}
      {%- assign article_next = blog.next_article -%}
    {% endif %}
    
    <a href="{{ article_prev.url }}" class="w-full max-w-[100px] flex justify-center items-center hover:text-sky-600 relative group">
      <i class='bx bx-chevron-left' ></i>

      <span class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></span>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ article_prev.title }}</span>
    </a>
    <a href="{{ blog.url }}" class="w-full max-w-[100px] flex justify-center items-center hover:text-sky-600 relative group">
      <i class='bx bxs-grid' ></i>

      <div class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></div>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ blog.title }}</span>
    </a>
    <a href="{{ article_next.url }}" class="w-full max-w-[100px] flex justify-center items-center hover:text-sky-600 relative group">
      <i class='bx bx-chevron-right' ></i>

      <div class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></div>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ article_next.title }}</span>
    </a>
  </div>


  {%- if article.comments_count > 0 and section.settings.show_comment -%}
    <div class="mt-14 border-t  border-gray-300">
      <h2 class="text-2xl uppercase font-semibold tracking-wide mt-8">
        {{ article.comments_count }} THOUGHTS ON “{{- article.title -}}”
      </h2>

      <div class="flex flex-col space-y-8 mt-6">
        {%- for comment in article.comments limit: 5 -%}
          <div class="flex space-x-4">
            <div class="flex-none w-20 h-20 bg-gray-200">
              <img src="//www.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&d=mm&r=g" alt="{{ comment.author }}" class="w-full h-full object-cover">
            </div>
            <div class="flex-grow pt-1 text-sm">
              <h5 class="uppercase font-semibold tracking-wide">{{ comment.author}}</h5>
              <div class=" text-gray-500 py-1.5">{{ comment.content }}</div>
              <p class="italic text-gray-500">{{ comment.created_at | date: "%b %d, %Y at %H:%M" }}</p>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}


  {%- if section.settings.post_comment -%}
    <div class="mt-16 border-t  border-gray-300">
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_comment",
        "label": "Show comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "post_comment",
        "label": "Enable post comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "share",
        "label": "Enable share",
        "default": true
      }
    ]
  }
{% endschema %}
