<style>
  #comment_form input::-webkit-input-placeholder,
  #comment_form textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
</style>

<div class="w-full h-48 bg-gray-200 relative">
  <img
    srcset="{%- if article.image.width >= 165 -%}{{ article.image | img_url: '165x' }} 165w,{%- endif -%}
      {%- if article.image.width >= 360 -%}{{ article.image | img_url: '360x' }} 360w,{%- endif -%}
      {%- if article.image.width >= 533 -%}{{ article.image | img_url: '533x' }} 533w,{%- endif -%}
      {%- if article.image.width >= 720 -%}{{ article.image | img_url: '720x' }} 720w,{%- endif -%}
      {%- if article.image.width >= 940 -%}{{ article.image | img_url: '940x' }} 940w,{%- endif -%}
      {%- if article.image.width >= 1066 -%}{{ article.image | img_url: '1066x' }} 1066w,{%- endif -%}
      {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
    src="{{ article.image | img_url: '1500x' }}"
    alt="{{ article.image.alt | escape }}"
    class="absolute w-full h-full top-0 left-0 object-cover"
    width="{{ article.image.width }}"
    height="{{ article.image.height }}"
    loading="lazy"
  >
  <div class="absolute w-full h-full top-0 left-0 bg-black/60 text-white flex flex-col space-y-3 justify-center items-center px-4 text-sm text-center">
    <h1 class="uppercase text-xl tracking-wider font-semibold">{{ article.title }}</h1>
    <p class="italic">{{ article.created_at | date: "%b %d, %y" }}</p>
    <p>
      {%- if article.tags.size > 0 -%}
        In <a href="{{ blog.url }}" class="hover:text-sky-600">{{ blog.title }}</a>
      {%- endif -%}

      {%- if section.settings.show_comment -%}
        <a href="#comments" class="hover:text-sky-600"> {{ article.comments_count }} comments</a>
      {%- endif -%}
    </p>
  </div>
</div>

<div class="w-full max-w-[1200px] mx-auto px-4 mt-12">
  <div class="content">{{ article.content }}</div>

  <div class="mt-12 w-full flex flex-col sm:flex-row items-center md:justify-between px-4 py-3 border border-gray-200 text-gray-600">
    <p>
      <i class='bx bxs-purchase-tag align-middle' ></i>
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="hover:text-sky-600"> {{ tag }}</a>

        {%- if forloop.last == false -%}
          , 
        {%- endif -%}
      {% endfor %}
    </p>

    {%- if section.settings.show_comment -%}
      <a href="#comments" class="hover:text-sky-600"> {{ article.comments_count }} comments</a>
    {%- endif -%}
  </div>

  {%- if section.settings.share -%}
    <div class="mt-8">
      {% render 'share', bg_color: true, show_title: true %}
    </div>
  {%- endif -%}

  <div class="flex overflow-hidden mt-16 justify-center items-center text-4xl">
    {% if blog.previous_article == nil %} 
      {%- assign article_prev = blog.articles.first -%}
    {% else %}
      {%- assign article_prev = blog.previous_article -%}
    {% endif %}

    {% if blog.next_article == nil %} 
      {%- assign article_next = blog.articles.last -%}
    {% else %}
      {%- assign article_next = blog.next_article -%}
    {% endif %}
    
    <a href="{{ article_prev.url }}" class="w-full max-w-[100px] flex justify-center items-center text-gray-600 hover:text-sky-600 relative group">
      <i class='bx bx-chevron-left' ></i>

      <span class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></span>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ article_prev.title }}</span>
    </a>
    <a href="{{ blog.url }}" class="w-full max-w-[100px] flex justify-center items-center hover:text-sky-600 relative group">
      <i class='bx bxs-grid' ></i>

      <div class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></div>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ blog.title }}</span>
    </a>
    <a href="{{ article_next.url }}" class="w-full max-w-[100px] flex justify-center items-center hover:text-sky-600 relative group">
      <i class='bx bx-chevron-right' ></i>

      <div class="absolute w-0 h-0 rounded-sm left-1/2 -translate-x-1/2 -top-3 border-[6px] border-transparent border-t-gray-800 transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0"></div>
      <span class="absolute left-1/2 -translate-x-1/2 bottom-[calc(100%+.75rem)] bg-gray-800 whitespace-nowrap px-3 py-2 text-xs text-white rounded-sm transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible translate-y-4 group-hover:translate-y-0">{{ article_next.title }}</span>
    </a>
  </div>


  {%- if article.comments_count > 0 and section.settings.show_comment -%}
    <div id="comments" class="mt-14 border-t  border-gray-200">
      <h2 class="text-2xl uppercase font-semibold tracking-wide mt-8">
        {{ article.comments_count }} THOUGHTS ON “{{- article.title -}}”
      </h2>

      {%- paginate article.comments by 6 -%}
        <div class="flex flex-col space-y-8 mt-8">
          {%- for comment in article.comments limit: 5 -%}
            <div class="flex space-x-4">
              <div class="flex-none w-20 h-20 bg-gray-200">
                <img src="//www.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&d=mm&r=g" alt="{{ comment.author }}" class="w-full h-full object-cover">
              </div>
              <div class="flex-grow pt-1 text-sm">
                <h5 class="uppercase font-semibold tracking-wide">{{ comment.author}}</h5>
                <div class=" text-gray-500 py-1.5">{{ comment.content }}</div>
                <p class="italic text-gray-500">{{ comment.created_at | date: "%b %d, %Y at %H:%M" }}</p>
              </div>
            </div>
          {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  {%- endif -%}


  {%- if section.settings.post_comment -%}
    <div class="mt-20 py-8 border-t  border-gray-200 text-gray-500 text-sm">
      {% form 'new_comment', article %}
        {%- liquid
          assign post_message = 'blogs.article.success'
          if blog.moderated? and comment.status == 'unapproved'
            assign post_message = 'blogs.article.success_moderated'
          endif
        -%}
        <h2 class="py-2 uppercase font-semibold text-gray-800">{{ 'blogs.article.comment_form_title' | t }}</h2>
        <p class="text-sm">{{ 'blogs.article.comment_note' | t }}</p>

        {%- if form.posted_successfully? -%}
          <h3 class="py-6">{{ post_message | t }}</h3>
        {%- endif -%}

        <div class="flex flex-wrap mt-4 -mx-1.5">
          <div class="w-full md:w-1/2 mb-6 px-1.5">
            <label for="CommentForm-author" class="text-sm py-2">{{ 'blogs.article.name' | t }}*</label> <br>
            <input
              type="text"
              name="comment[author]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="CommentForm-author"
              value="{{ form.author }}"
            >
            {%- if form.errors contains 'author' -%}
              <p class="text-sm py-2">
                <i class='bx bxs-error-circle text-red-500'></i>
                {{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.
              </p>
            {%- endif -%}
          </div>

          <div class="w-full md:w-1/2 mb-6 px-1.5">
            <label for="CommentForm-email" class="text-sm py-2">{{ 'blogs.article.email' | t }}*</label> <br>
            <input
              type="email"
              name="comment[email]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="CommentForm-email"
              autocorrect="off"
              autocapitalize="off"
              value="{{ form.email }}"
            >
            {%- if form.errors contains 'email' -%}
              <p class="text-sm py-2">
                <i class='bx bxs-error-circle text-red-500'></i>
                {{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.
              </p>
            {%- endif -%}
          </div>
          
          <div class="w-full mb-6 px-1.5">
            <label for="CommentForm-body" class="text-sm py-2">{{ 'blogs.article.message' | t }}*</label> <br>
            <textarea
              rows="8"
              type="text"
              name="comment[body]"
              class="focus:outline-none px-4 py-2 border border-gray-200 focus:border-gray-700 w-full"
              id="CommentForm-body"
            >{{ form.body }}</textarea>
            {%- if form.errors contains 'body' -%}
              <p class="text-sm py-2">
                <i class='bx bxs-error-circle text-red-500'></i>
                {{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.
              </p>
            {%- endif -%}
          </div>

          <div class="w-full mb-6 px-1.5">
            <input type="submit" class="border-2 border-gray-800 rounded-full bg-white font-semibold px-6 py-2 hover:text-white hover:border-sky-500 hover:bg-sky-500 cursor-pointer" value="{{ 'blogs.article.post' | t }}">
          </div>
        </div>
      {% endform %}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_comment",
        "label": "Show comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "post_comment",
        "label": "Enable post comment",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "share",
        "label": "Enable share",
        "default": true
      }
    ]
  }
{% endschema %}
