<style>
  .cat-view-page {
    height: 26px;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    padding: 2px;
  }
  .cat-view-page::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #999;
    color: #999;
  }

  .cat-view-page.active {
    border-color: #111;
  }
  .cat-view-page.active::before {
    background: #111;
    color: #111;
  }

  .cat-view-page.view-list {
    width: 29px;
  }
  .cat-view-page.view-list::before {
    height: 5px;
    width: 23px;
    box-shadow: 
      0 7.3px 0,
      0 15.1px 0;
  }

  .cat-view-page.view-1 {
    width: 26px;
  }
  .cat-view-page.view-1::before {
    width: 20px;
  }

  .cat-view-page.view-2 {
    width: 40px;
  }
  .cat-view-page.view-2::before {
    width: 16px;
    box-shadow: 18px 0 0;
  }

  .cat-view-page.view-3 {
    width: 58px;
  }
  .cat-view-page.view-3::before {
    width: 16px;
    box-shadow: 
      18px 0 0,
      36px 0 0;
  }

  .cat-view-page.view-4 {
    width: 76px;
  }
  .cat-view-page.view-4::before {
    width: 16px;
    box-shadow: 
      18px 0 0,
      36px 0 0,
      54px 0 0;
  }

  .cat-view-page.view-5 {
    width: 94px;
  }
  .cat-view-page.view-5::before {
    width: 16px;
    box-shadow: 
      18px 0 0,
      36px 0 0,
      54px 0 0,
      72px 0 0;
  }
</style>

<div class="relative w-full h-36">
  <div class="absolute w-full h-full top-0 left-0 bg-black/50 flex justify-center items-center">
    <div class="inline-block text-white text-center">
      {%- if search.performed -%}
        <h1 class="text-xl font-semibold tracking-wide">{{ search.results_count }} Search Results for: "{{ search.terms | escape }}"</h1>
      {%- else -%}
        <h1 class="text-xl font-semibold tracking-wide">Search Our Site</h1>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="w-full max-w-[1200px] mx-auto px-4 my-[30px]">
  {%- if search.performed -%}
    <div class="flex items-center justify-center text-sm lg:text-base text-gray-600">
      <div class="flex justify-center space-x-2">
        <a href="#" class="cat-view-page view-list"></a>
        <a href="#" class="cat-view-page view-1"></a>
        <a href="#" class="cat-view-page view-2"></a>
        <a href="#" class="hidden sm:inline cat-view-page view-3"></a>
        <a href="#" class="hidden lg:inline cat-view-page view-4"></a>
        <a href="#" class="hidden lg:inline cat-view-page view-5"></a>
      </div>
    </div>
  {%- else -%}
    <div class="mt-20 w-full max-w-3xl mx-auto">
      <form action="{{ routes.search_url }}" method="get" role="search" class="block">
        <div class="flex">
          <input
            class="flex-grow min-w-0 border border-r-0 border-gray-400 focus:border-gray-800 focus:outline-none px-4 rounded-none"
            type="text"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="Search for products or posts"
          >
          <input name="options[prefix]" type="hidden" value="last">

          <button type="submit" class="flex-none flex items-center justify-center text-xl w-12 h-12 bg-gray-800 text-white hover:bg-sky-500 rounded-none" aria-label="{{ 'general.search.search' | t }}">
            <i class='bx bx-search'></i>
          </button>
        </div>
      </form>

      <div class="w-full mt-6 shadow border-l border-t border-gray-200 text-sm">
        <p class="uppercase px-4 py-3 bg-gray-50 border-b border-r border-gray-200 font-semibold">NEED SOME INSPIRATION?</p>
        <div class="flex flex-wrap">
          {% for product in collections.all.products limit: 6 %}
            <div class="w-1/2 p-4 border-b border-r border-gray-200">
              <div class="flex space-x-3">
                <a href="{{ product.url }}" class="flex-none block w-20 h-24 bg-gray-100 relative">
                  <img
                    srcset="{%- if product.featured_image.width >= 165 -%}{{ product.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if product.featured_image.width >= 533 -%}{{ product.featured_image | img_url: '533x' }} 533w,{%- endif -%}
                      {%- if product.featured_image.width >= 720 -%}{{ product.featured_image | img_url: '720x' }} 720w,{%- endif -%}
                      {%- if product.featured_image.width >= 940 -%}{{ product.featured_image | img_url: '940x' }} 940w,{%- endif -%}
                      {%- if product.featured_image.width >= 1066 -%}{{ product.featured_image | img_url: '1066x' }} 1066w,{%- endif -%}
                      {{ product.featured_image | img_url: 'master' }} {{ product.featured_image.width }}w"
                    src="{{ product.featured_image | img_url: '165x' }}"
                    alt="{{ product.featured_image.alt | escape }}"
                    class="absolute w-full h-full top-0 left-0 object-cover"
                    width="{{ product.featured_image.width }}"
                    height="{{ product.featured_image.height }}"
                    loading="lazy"
                  >
                </a>
                <div class="flex-grow min-w-0 pt-1">
                  <a href="{{ product.url }}" class="font-semibold">{{ product.title }}</a>
                  {%- if product.price_varies -%}
                    <p class="text-gray-500 text-sm">
                      <span class="line-through">${{ product.price_min}}</span> -
                      <span class="text-red-500">${{ product.price_max}}</span>
                    </p>
                  {%- else -%}
                    <p class="text-gray-500 text-sm">${{ product.price_min}}</p>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a href="/collections/all" class="block w-full text-center px-4 py-3 border-r border-gray-200">
          <span class="group transition-all duration-300 ease-in-out hover:text-sky-600 font-semibold">
            VIEW ALL
            <i class='bx bx-right-arrow-alt relative group-hover:translate-x-1 transition-all duration-300 ease-in-out align-middle' ></i>
          </span>
        </a>
      </div>
    </div>
  {%- endif -%}
</div>